<div class="m-2" style="text-align:center">
	<a href="@URLPelicula">
		<img src="@Pelicula.Poster" alt="poster" style="width:225px; height:300px;"/>
	</a>
	<p style="max-width:225px;height:44px;font-size:15px;font-weight:bold;">
		<a href="@URLPelicula" class="text-decoration-none text-dark">
			@Pelicula.Titulo
		</a>
	</p>
	<div>
		<a class="btn btn-warning" href="/peliculas/editar/@Pelicula.Id">Editar</a>
		<button class="btn btn-danger" type="button"
		@onclick="@(()=>EliminarPelicula.InvokeAsync(Pelicula))">
			@if (loading)
			{
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
			}
			Eliminar</button>
	</div>
</div>

@code {
	[Parameter] public EventCallback<Pelicula> EliminarPelicula { get; set; }
	[Parameter] public Pelicula Pelicula { get; set; } = null!;
	[Parameter] public bool showing { get; set; } = false;
	[Parameter] public bool loading { get; set; } = false;

	private string URLPelicula = string.Empty;

	protected override void OnInitialized()
	{
		URLPelicula = $"peliculas/{Pelicula.Id}/{Pelicula.Titulo.Replace(" ","-")}";
	}

	protected override async Task OnParametersSetAsync()
	{
		
	}
}
